extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='code') Enter code*
      input#code.form-control(type='text' name='code' required)
    p Hint: try 'member' or 'regular'
    button.btn.btn-primary(type='submit') Join Club
  
  if errors
    ul
      for error in errors
        li!= error.msg
        
  if error_wrong_code
    ul
      li #{error_wrong_code ? 'Wrong code' : ''}